/*INVALID DISHES*/
#invalidDishes_pop .c {
	margin-left: -210px;
	width: 394px;
	height: 120px;
	padding: 25px 10px 20px 10px;
	background: #FFF;
	border: #F60 3px solid;
	border-radius: 5px;
}

#invalidDishes_pop .icon {
	float: left;
	margin: 0 5px 0 30px;
	width: 28px;
	height: 28px;
	background: url(/assets/images/common/elements.png) -472px -120px no-repeat;
}

#invalidDishes_pop .t {
	padding-right: 25px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

#invalidDishes_pop .t2 {
	margin-bottom: 15px;
	line-height: 40px;
	font-size: 14px;
	text-align: center;
}

#invalidDishes_pop .actions {
	text-align: center;
}

#invalidDishes_pop .btn_91_28 {
	display: inline-block;
	margin: 0 20px;
	*display: inline;
	*zoom: 1;
}

/*CONTENT*/
.partl {
	float: left;
	margin-right: 12px;
	width: 722px;
}

.partr {
	overflow: visible;
	float: right;
	width: 231px;
	height: 500px;
}

.section1 {
	margin-bottom: 15px;
}

/*WARNING*/
.warning {
	margin-bottom: 7px;
	padding: 5px;
	_padding-top: 10px;
	line-height: 22px;
	font-size: 14px;
	text-align: center;
	color: #F60;
	background-color: #FFA;
	border-radius: 5px;
}

/*RESTAURANT INFO*/
.rest_info {
	margin-bottom: 30px;
}

.rest_info .body {
	padding: 2px 0 10px 25px;
	_zoom: 1;
}

.rest_info .body .detailInfo {
	float: left;
	_width: 570px;
}

.rest_info .row1 {
	margin-bottom: 15px;
	height: 30px;
}

.rest_info .name {
	margin-right: 10px;
	font-size: 24px;
	font-family: "微软雅黑", "黑体";
	color: #F90;
}

.rest_info .status {
	margin-right: 35px;
	font-size: 14px;
	font-family: "微软雅黑", "黑体";
}

.rest_info .renren_like {
	margin-left: 10px;
	width: 200px;
	height: 30px;
	vertical-align: middle;
}

.rest_info .row2 {
	overflow: visible;
	float: left;
	width: 320px;
	_width: 310px;
	line-height: 26px;
	z-index: 10;
}

.rest_info .row3 {
	float: left;
	width: 270px;
	_width: 260px;
	line-height: 26px;
}

.rest_info .highlight {
	margin: 0 5px;
	height: 18px;
	line-height: 18px;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
	color: #F90;
}

#deliver_notify {
	position: relative;
}

#deliver_notify .p {
	display: none;
	overflow: visible;
	position: absolute;
	top: 30px;
	left: -20px;
	width: 270px;
	padding: 6px 15px;
	line-height: 18px;
	color: #FFF;
	background: #F90;
	border-radius: 5px;
}

#deliver_notify em {
	display: block;
	_display: none;
	position: absolute;
	top: -8px;
	left: 46px;
	width: 0;
	height: 0;
	border: transparent 8px solid;
	border-top-width: 0;
	border-bottom-color: #F90;
}

.rest_info .action {
	float: left;
	margin-top: 8px;
	margin-left: 10px;
	height : 150px;
	*width: 330px;
}

.rest_info .star_overall {
	margin-bottom: 8px;
	height: 20px;
	line-height: 20px;
}

.rest_info .star_overall em {
	margin: 0 10px 0 5px;
	font-size: 14px;
}

.rest_info .star_overall .star {
	display: inline-block;
	width: 104px;
	height: 20px;
	vertical-align: top;
	background: url(/assets/images/common/elements.png);
	zoom: 1;
	*display: inline;
}

.rest_info .star_overall .star_0 {
	background-position: -696px 0;
}

.rest_info .star_overall .star_1 {
	background-position: -696px -20px;
}

.rest_info .star_overall .star_2 {
	background-position: -696px -40px;
}

.rest_info .star_overall .star_3 {
	background-position: -696px -60px;
}

.rest_info .star_overall .star_4 {
	background-position: -696px -80px;
}

.rest_info .star_overall .star_5 {
	background-position: -696px -100px;
}

.rest_info .rank {
	margin-bottom: 8px;
	height: 24px;
	line-height: 24px;
}

.rest_info .rank li {
	width: 170px;
	*width: 160px;
}

.rest_info .rank .bar {
	display: inline-block;
	margin: 0 3px 0 2px;
	width: 50px;
	height: 10px;
	border: #F96 1px solid;
	background: #FFF;
	zoom: 1;
	*display: inline;
	vertical-align: middle;
}

.rest_info .rank .val {
	width: 40px;
	height: 10px;
	background: #F96;
}

.rest_info .rank em {
	color: #C00;
}

.rest_info .star_all em {
	float: left;
	height: 70px
}

.rest_info .star_area {
	margin: 0 0 15px 10px;
}

.rest_info .star_area li {
	display: block;
	margin-bottom: 3px;
	*margin-bottom: -1px;
	height: 12px;
	line-height: 12px;
}

.rest_info .star_area .star {
	position: static;
	float: left;
	margin-right: 15px;
	width: 60px;
	height: 12px;
	background: url(/assets/images/common/elements.png);
}

.rest_info .star_area .star_0 {
	background-position: -802px 0;
}

.rest_info .star_area .star_1 {
	background-position: -802px -12px;
}

.rest_info .star_area .star_2 {
	background-position: -802px -24px;
}

.rest_info .star_area .star_3 {
	background-position: -802px -36px;
}

.rest_info .star_area .star_4 {
	background-position: -802px -48px;
}

.rest_info .star_area .star_5 {
	background-position: -802px -60px;
}

.rest_info .star_area .amount {
	float: left;
	margin-right: 5px;
	height: 12px;
	background-color: #DADADA;
}

.rest_info .fav {
	display: block;
	float: left;
	margin-right: 15px;
	width: 86px;
	height: 27px;
	background: url(/assets/images/common/elements.png) -70px -210px;
}

.rest_info .share {
	float: left;
	top: 5px;
	height: 16px;
	line-height: 16px;
	*display: block;
	*overflow: visible;
	*margin-top: -15px;
}

.rest_info .share .text {
	float: left;
	margin-right: 10px;
	color: #009;
}

.rest_info .share .item {
	display: block;
	float: left;
	margin-right: 6px;
	width: 16px;
	height: 16px;
}

.rest_info .notify {
	width: 560px;
	line-height: 20px;
	margin-bottom: 5px
}

.rest_info .notify em {
	color: #390;
}

.rest_info .notify p {
	margin-top: 5px;
}

.rest_info .correct {
	position: absolute;
	bottom: 5px;
	right: 25px;
	_bottom: 12px;
}

/*SUBNAV*/
.subnav {
	margin-bottom: 18px;
	border-bottom: #F60 1px solid;;
}

.subnav a {
	display: block;
	float: left;
	margin-right: 5px;
	height: 34px;
	background: url("/assets/images/common/elements.png") repeat-x scroll 0 -238px transparent
}

.subnav a:hover {
	text-decoration: none;
}

.subnav a div {
	float: left;
	margin-left: 5px;
	padding: 0 10px;
	height: 34px;
	line-height: 34px;
	font-size: 14px;
	font-family: "微软雅黑", "黑体";
	color: #000;
	background: url(/assets/images/common/repeater.gif) repeat-x 0 -222px;
	_display: inline;
}

.subnav a em {
	display: block;
	float: left;
	width: 5px;
	height: 34px;
	background: url(/assets/images/common/elements.png) no-repeat -6px -238px;
}

.subnav a.active {
	background-position: -12px -238px;
}

.subnav a.active div {
	color: #FFF;
	background-position: 0 -256px;
}

.subnav a.active em {
	background-position: -18px -238px;
}

.subnav .qsearch {
	float: right;
	margin: 4px 3px 0 0;
	height: 25px;
	line-height: 25px;
}

.subnav .qsearch div {
	float: left;
	height: 25px;
}

.subnav .qsearch .text {
	margin-right: 5px;
	font-size: 14px;
	font-weight: bold;
	color: #f60;
}

.subnav .qsearch .l,.subnav .qsearch .r {
	width: 5px;
	height: 25px;
	background: url(/assets/images/common/elements.png);
}

.subnav .qsearch .l {
	background-position: -24px -238px;
}

.subnav .qsearch .r {
	background-position: -30px -238px;
}

.subnav .qsearch input {
	display: block;
	float: left;
	padding: 0 5px;
	width: 170px;
	height: 25px;
	line-height: 25px;
	background: url(/assets/images/common/repeater.gif) repeat-x 0 -290px;
}

.tab {
	display: none;
}

/*TIPS*/
.tips .body {
	padding: 4px 0;
	font-family: "微软雅黑", "黑体";
	font-weight: bold;
	text-align: center;
}

.tips .t1 {
	margin-bottom: 3px;
	font-size: 18px;
}

.tips .t1 em {
	color: #3C0;
}

.tips .t2 {
	font-size: 14px;
}

.tips .t2 em {
	color: #F90;
}

.tips .tel {
	display: none;
	padding-left: 60px;
}

.tips .tel .icon {
	position: absolute;
	left: 150px;
	top: 5px;
	width: 46px;
	height: 46px;
	background: url(/assets/images/common/elements.png) no-repeat -248px -100px;
}

/*MENU AREA*/
.menuArea {
	overflow: visible;
	margin-left: 115px;
	width: 607px;
}

.menuArea .title {
	height: 20px;
	line-height: 20px;
	margin-bottom: 12px;
	font-size: 18px;
	font-family: "微软雅黑", "黑体";
	font-weight: bold;
}

.menuArea .block {
	padding-bottom: 18px;
	zoom: 1;
}

.menuArea .addone {
	width: 39px;
	height: 16px;
	background: url(/assets/images/common/elements.png) -36px -238px;
	cursor: pointer;
}

.menuArea.resting .addone {
	background: url(/assets/images/common/elements.png) -282px -210px !important;
}

.menuArea .rec_c {
	float: left;
	margin-right: 6px;
}

.menuArea .rec_c img {
	height: 131px;
	width: 195;
}

.menuArea .rlast {
	margin-right: 0;
	_margin-right: -1px;
}

.menuArea .rec_p {
	margin-bottom: 8px;
}

.menuArea .rec_p .body {
	margin: -4px 0;
	padding: 0 2px 0 1px;
}

.menuArea .rec_p .t,.menuArea .rec_p .b {
	z-index: 1;
}

.menuArea .rec_t {
	display: block;
	position: relative;
	float: left;
	margin-bottom: 2px;
	padding: 0 15px 3px 15px;
	width: 165px;
	line-height: 20px;
	color: #000 !important;
	border: #EEE 1px solid;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 1px;
}

.menuArea .rec_t .name {
	padding: 4px 0;
	line-height: 20px;
}

.menuArea .rec_t .addone {
	position: absolute;
	bottom: 5px;
	right: 13px;
}

.menuArea .rec_t:hover {
	text-decoration: none;
	color: #FFF !important;
	background-color: #F93;
}

.menuArea.resting .rec_t:hover {
	color: #000 !important;
	background-color: #FFF;
}

.menuArea .rec_t:hover .addone {
	background-position: -36px -254px;
}

.menuArea .halfCombine {
	margin-bottom: 8px;
}

.menuArea .halfCombine .body {
	padding: 5px 18px;
	line-height: 25px;
}

.menuArea .halfCombine .addCombine {
	display: inline-block;
	*display: inline;
	vertical-align: top;
	margin: 3px 0 2px 10px;
	height: 20px;
	line-height: 20px;
	padding: 0 10px;
	color: #FFF;
	background: #F90;
	border-radius: 3px;
	cursor: pointer;
}

.menuArea.resting .halfCombine .addCombine {
	background: #AAA;
}

.menuArea .item {
	display: block;
	position: relative;
	float: left;
	margin: 0 6px 1px 0;
	padding: 5px 55px 5px 15px;
	width: 228px;
	line-height: 20px;
	color: #000 !important;
	border: #EEE 1px solid;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 1px;
	margin-top: 5px;
}

.menuArea .ilast {
	margin-right: 0;
}

.menuArea .item.nth {
	border-color: #FFF;
	box-shadow: none;
}

.menuArea .item:hover {
	text-decoration: none;
	color: #FFF !important;
	background-color: #F93;
}

.menuArea.resting .item:hover {
	color: #000 !important;
	background-color: #FFF;
}

.menuArea .item:hover .addone {
	background-position: -36px -254px;
}

.menuArea .item .name {
	float: left;
	width: 185px;
}

.menuArea .item .price {
	float: right;
	*width: 36px;
	*text-align: right;
}

.menuArea .item .addone {
	position: absolute;
	top: 8px;
	right: 8px;
}

.menuArea .item .half {
	position: absolute;
	top: 10px;
	right: 10px;
	padding-right: 16px;
	height: 13px;
	line-height: 13px;
	font-size: 10px;
	font-weight: bold;
}

.menuArea .item .half input {
	position: absolute;
	right: 0;
	top: 0;
	width: 13px;
	height: 13px;
}

/*COMMENTS*/
.comments .title {
	height: 20px;
	line-height: 20px;
	margin-bottom: 12px;
	font-size: 18px;
	font-family: "微软雅黑", "黑体";
	font-weight: bold;
}

.comments .com {
	margin-bottom: 0;
}

.comments .com.nth .t,.comments .com.nth .b,.comments .com.nth .body {
	background: none;
}

.comments .com .body {
	padding: 5px 15px 2px 15px;
}

.comments .name_n_time {
	float: left;
}

.comments .procon {
	float: right;
}

.comments .star {
	float: right;
	margin-bottom: -6px;
	width: 104px;
	height: 20px;
	background: url(/assets/images/common/elements.png);
}

.comments .star_0 {
	background-position: -696px 0;
}

.comments .star_1 {
	background-position: -696px -20px;
}

.comments .star_2 {
	background-position: -696px -40px;
}

.comments .star_3 {
	background-position: -696px -60px;
}

.comments .star_4 {
	background-position: -696px -80px;
}

.comments .star_5 {
	background-position: -696px -100px;
}

.comments .c {
	margin: 0 25px;
	padding: 20px 0 5px 0;
	clear: both;
}

.comments .c2 {
	margin: 0 5px;
	padding: 15px 0 10px 0;
	clear: both;
}

.comments .quote {
	overflow: visible;
	margin: 10px 0 10px 20px;
	padding: 20px 8px 8px 10px;
	border: #CCC 1px dashed;
}

.comments .quote .nt {
	position: absolute;
	top: -11px;
	left: 5px;
	padding: 5px;
	background: #FFF;
}

.comments .actions a {
	display: block;
	float: right;
}

.comments .actions a:hover {
	text-decoration: none;
}

.comments .actions .reply {
	width: 38px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	color: #FFF;
	background: url(/assets/images/common/elements.png) -76px -238px;
}

.comments .actions .report {
	margin: 6px 5px 0 20px;
	color: #CCC;
}

.partl .more {
	margin: 10px 0;
	height: 35px;
	line-height: 35px;
	font-size: 14px;
	text-align: center;
	color: #FFF;
	background: #F90;
	border-radius: 5px;
	cursor: pointer;
}

.comments .post {
	margin-top: 40px;
}

.comments .post textarea {
	margin-bottom: 10px;
	padding: 5px;
	width: 400px;
	height: 120px;
	max-width: 700px;
	resize: both;
	border: #CCC 1px solid;
	border-radius: 5px;
}

.comments .post .captcha {
	height: 50px;
}

.comments .post img {
	margin-right: 15px;
	margin-bottom: -2px;
	vertical-align: baseline;
	height: 45px;
}

.comments .post .e {
	margin: 7px 0 9px 0;
	height: 20px;
	line-height: 18px;
}

.comments .post .e input {
	position: relative;
	top: 1px;
	margin-right: 10px;
	width: 65px;
	height: 16px;
	line-height: 16px;
	vertical-align: baseline;
	border: #CCC 1px solid;
}

.comments .post .submit {
	width: 92px;
	height: 24px;
	background: url(/assets/images/common/elements.png) -114px -238px;
	cursor: pointer;
}

/*SALE*/
.sale .title {
	margin-top: 5px;
	height: 30px;
	line-height: 30px;
	font-family: "微软雅黑", "黑体";
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

.sale .time {
	margin-bottom: 5px;
	text-align: center;
}

.sale .content {
	padding: 10px 35px 20px 35px;
}

/*FLOAT NAV*/
.floatnav {
	overflow: visible;
	margin-left: -110px;
	width: 91px;
}

.floatnav_pinned_t {
	position: absolute;
	top: -10px;
	left: 0;
}

.floatnav_pinned_b {
	position: absolute;
	bottom: 18px;
	left: 0;
}

.floatnav_sticky {
	position: fixed;
	top: 32px;
	_position: absolute;
	_top: expression(eval(document.documentElement.scrollTop-683) );
}

.floatnav .t,.floatnav .b {
	height: 5px;
	background: url(/assets/images/common/elements.png);
}

.floatnav .t {
	background-position: -480px -186px;
}

.floatnav .b {
	background-position: -480px -192px;
}

.floatnav .body {
	overflow: visible;
	padding: 5px 5px;
	background: url(/assets/images/common/repeater_v.gif) repeat-y -2347px 0;
}

.floatnav li {
	padding: 0 12px;
	height: 28px;
	line-height: 28px;
	font-size: 14px;
	font-family: "微软雅黑", "黑体";
}

.floatnav a {
	display: block;
	color: #000 !important;
}

.floatnav li.active {
	position: relative;
	left: -10px;
	width: 85px;
	background: url(/assets/images/common/elements.png) -480px -198px;
}

.floatnav li.active a {
	position: relative;
	left: 10px;
	top: -3px;
	color: #FFF !important;
}

/*CHART*/
.chart_pinned_t {
	position: absolute;
	top: 40px;
	right: 0;
}

.chart_pinned_b {
	position: absolute;
	bottom: 0;
	right: 0;
}

.chart_sticky {
	position: fixed;
	top: 32px;
	_position: absolute;
	_top: expression(eval(document.documentElement.scrollTop-543) );
}

.chart .body {
	padding: 0 15px;
}

.chart .icon {
	float: left;
	width: 30px;
	height: 30px;
	background: url(/assets/images/common/elements.png) -282px -238px;
}

.chart .title {
	margin-left: -5px;
	height: 30px;
	line-height: 30px;
	font-size: 18px;
	font-weight: bold;
	font-family: "微软雅黑", "黑体";
	color: #F90;
}

.chart .name {
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}

#chart {
	margin: 0 -5px;
	width: 211px;
}

#chart td {
	padding: 4px 0;
	line-height: 16px;
}

#chart em {
	display: block;
	position: relative;
	width: 0;
	height: 0;
}

#chart .delivery_cost td {
	padding-top: 15px;
}

#chart .amount {
	font-weight: bold;
	color: #999;
}

#chart .amount input {
	margin-left: 6px;
	width: 18px;
	height: 12px;
	line-height: 12px;
	font-size: 11px;
	text-align: center;
	border: #999 1px solid;
	vertical-align: top;
}

#chart .amount .more,#chart .amount .less {
	position: absolute;
	left: 30px;
	width: 7px;
	height: 5px;
	background: url(/assets/images/common/elements.png) no-repeat;
	cursor: pointer;
}

#chart .amount .more {
	top: 1px;
	background-position: -536px -244px;
}

#chart .amount .less {
	top: 8px;
	background-position: -536px -250px;
}

#chart .count {
	padding-left: 5px;
	width: 50px;
}

#chart .del {
	position: absolute;
	top: 1px;
	left: 35px;
	width: 13px;
	height: 13px;
	background: url(/assets/images/common/elements.png) -320px -238px;
	cursor: pointer;
}

#chart .detail {
	display: block;
	padding-left: 15px;
	color: #bbb;
	text-align: left;
}

#chart .divide {
	border-bottom: 1px dashed #ccc;
	display: block;
}

.chart .total {
	margin-top: 8px;
	padding: 10px 0;
	line-height: 30px;
	font-size: 14px;
	border-top: #CCC 1px dashed;
}

.chart .total .line {
	height: 30px;
}

.chart .total .text {
	float: left;
}

.chart .total .count,.chart .total .num {
	float: right;
}

.chart .total .num {
	width: 60px;
	font-weight: bold;
	color: #F90;
	text-align: right;
}

.chart .action {
	padding: 8px 0 10px 0;
	height: 27px;
	line-height: 27px;
}

.chart .action a {
	float: left;
}

.chart .action .submit,.chart .action .submit_tel {
	float: right;
	font-size: 16px;
}

.chart .tel {
	display: none;
	padding-bottom: 5px;
	line-height: 20px;
}

.chart .tel em {
	color: #3C0;
}

.aniObj {
	position: absolute !important;
	padding: 0 8px;
	height: 26px;
	line-height: 26px;
	background: #F90;
	color: #FFF;
	border-radius: 5px;
	opacity: 0;
}

.chart .handy {
	margin-top: 5px;
}

.chart .handy .item {
	display: block;
	position: relative;
	padding: 4px 55px 4px 15px;
	height: 20px;
	line-height: 20px;
	color: #000 !important;
	text-decoration: none;
}

.chart .handy .name {
	float: left;
	width: 125px;
	font-size: 12px;
	height: 20px;
	line-height: 20px;
	font-weight: normal;
	text-align: left;
}

.chart .handy .price {
	float: left;
	*width: 40px;
	*text-align: right;
}

.chart .handy .addone {
	position: absolute;
	top: 4px;
	left: 190px;
	width: 39px;
	height: 16px;
	background: url(/assets/images/common/elements.png) -36px -238px;
	cursor: pointer;
}

.chart .handy.resting .addone {
	background: url(/assets/images/common/elements.png) -282px -210px !important;
}

/*JIAOZI*/
.menuArea .title.jiaozi {
	color: #ff9900;
	height: 30px;
}

.menuArea .title .category-pop {
	height: 21px;
	position: absolute;
	background-color: #FFF8D9;
	border-top: 1px solid #FEBE8F;
	border-bottom: 1px solid #FEBE8F;
	margin-left: 15px;
}

.menuArea .title .category-pop span {
	font-weight: normal;
	font-size: 12px;
	color: #F60;
	width: auto;
	height: 21px;
	line-height: 21px;
	margin: 0;
	text-indent: 0;
	padding: 0 7px 1px;
}

.menuArea .title .category-pop s {
	display: inline-block;
	position: absolute;
	top: -1px;
	width: 7px;
	height: 23px;
	background: url(/assets/images/common/elements.png) -570px -238px no-repeat;
}

.menuArea .title .category-pop .pop-r {
	right: -1px;
	background-position: -581px -238px;
}

.menuArea .title .category-pop .pop-l {
	left: -6px;
	background-position: -570px -238px;
}

.menuArea .title span {
	color: #999;
	font-weight: normal;
	font-size: 13px;
	line-height: 16px;
}