/*TITLE*/
.partr .title {
	height:30px;
	font-size:18px;
	font-weight:bold;
	font-family:"微软雅黑", "黑体";
}

/*TABLE*/
.partr table {
	margin-top:15px;
}
.partr table td {
	padding:8px 0;
	height:39px;
	line-height:39px;
	font-size:14px;
}
.partr table .text {
	padding:0 15px;
	text-align:right;
}
.partr table .input .l, table .input .r {
	float:left;
	width:5px;
	height:39px;
	background:url(/assets/images/common/elements.png);
}
.partr table .input .l {
	background-position:0 -332px;
}
.partr table .input .r {
	background-position:-6px -332px;
}
.partr table .input .m {
	float:left;
	height:39px;
	background:url(/assets/images/common/repeater.gif) repeat-x 0 -315px;
}
.partr table .input input {
	margin-top:6px;
	padding:0 10px;
	width:290px;
	height:29px;
	line-height:29px;
	font-size:14px;
}
table .submit {
	margin:30px 0 0 100px;
}
table .checker_ok, table .checker_notice, table .checker_wrong {
	float:left;
	margin-left:15px;
	width:200px;
	font-size:12px;
}
table .checker_ok .icon, table .checker_notice .icon, table .checker_wrong .icon {
	float:left;
	margin:11px 10px 0 0;
	width:16px;
	height:16px;
	background:url(/assets/images/common/elements.png);
}
table .checker_ok {
	color:#4C4;
}
table .checker_ok .icon {
	background-position:-334px -238px;
}
table .checker_notice {
	color:#FC0;
}
table .checker_notice .icon {
	background-position:-350px -238px;
}
table .checker_wrong {
	color:#F00;
}
table .checker_wrong .icon {
	background-position:-366px -238px;
}