/*CONTENT*/
.partl,.npartl {
	float: left;
}

.partl {
	width: 180px;
}

.npartr {
	width: 250px;
}

.partr,.npartr {
	float: right;
}

.partr {
	width: 770px;
}

.npartr {
	width: 700px;
}

.partl .title,.npartl .title,.partr .title {
	margin-bottom: 5px;
	height: 30px;
	font-size: 18px;
	font-weight: bold;
	font-family: "微软雅黑", "黑体";
}

/*LEFT NAV*/
.leftnav,.nleftnav {
	overflow: visible;
	margin: 0 0 30px 5px;
}

.leftnav {
	width: 158px;
}

.nleftnav {
	width: 238px;
}

.leftnav .t,.leftnav .b,.nleftnav .t,.nleftnav .b {
	height: 5px;
	width: 158px;
	background: url(/assets/images/common/elements.png);
}

.leftnav .t {
	background-position: -556px -344px;
}

.nleftnav .t {
	background-position: -556px -450px;
	width: 238px;
}

.leftnav .b {
	background-position: -556px -350px;
}

.nleftnav .b {
	background-position: -556px -456px;
	width: 238px;
}

.leftnav .body,.nleftnav .body {
	overflow: visible;
	padding: 5px 5px;
	width: 158px;
	background: url(/assets/images/common/repeater_v.gif) repeat-y;
}

.leftnav .body {
	background-position: -4562px 0;
}

.nleftnav .body {
	background-position: -4733px 0;
	width: 238px;
}

.leftnav li,.nleftnav li {
	height: 30px;
	line-height: 30px;
}

.leftnav li {
	padding: 0 12px;
	font-size: 14px;
	font-weight: bold;
	font-family: "微软雅黑", "黑体";
}

.nleftnav li {
	padding: 0 5px;
	font-size: 12px;
	font-weight: normal;
	font-family: "微软雅黑", sans-serif;
}

.nleftnav #more {
	color: #f90 !important;
	width: 208px;
	text-align: center;
}

.leftnav a,.nleftnav a {
	display: block;
	color: #000 !important;
	width: 210px;
	height: 30px;
	overflow: hidden;
}

.leftnav li.active,.nleftnav li.active {
	position: relative;
	left: -10px;
	_margin-right: -20px;
	background: url(/assets/images/common/elements.png);
}

.leftnav li.active {
	width: 149px;
	background-position: -556px -356px;
}

.nleftnav li.active {
	width: 219px;
	background-position: -556px -462px;
}

.nleftnav li.active {
	position: relative;
	left: -10px;
	width: 236px;
	background: url(/assets/images/common/elements.png) -556px -462px;
}

.leftnav li.active a,.nleftnav li.active a,.nleftnav li.active #more {
	position: relative;
	left: 10px;
	top: -3px;
	color: #FFF !important;
}