/*TIPS*/
.tips .body {
	padding: 0 15px;
}

.tips em {
	color: #F90;
}

/*ORDER AREA*/
.orderArea {
	margin: 12px 0;
	overflow: visible;
	*overflow: hidden;
}

.orderArea .body {
	overflow: visible;
	*overflow: hidden;
	_overflow: hidden;
}

.orderArea .body {
	_zoom: 1;
}

/*INFO AREA*/
.infoArea {
	float: left;
	width: 370px;
	padding: 5px 15px;
	overflow: visible;
}

.infoArea em {
	color: #F60;
	font-weight: bold;
}

.infoArea .restName {
	float: left;
	width: 200px;
	font-size: 14px;
	*width: 190px;
}

.infoArea .status {
	float: left;
	font-size: 14px;
	overflow: visible;
}

.infoArea .status .tooltips {
	display: inline;
	cursor: pointer;
}

.infoArea .status .tooltips span {
	display: inline-block;
	*position: relative;
	*top: -5px;
	_top: 5px;
	*left: 5px;
	width: 5px;
	height: 9px;
	background: url(/assets/images/common/elements.png) -560px -238px no-repeat;
}

.status .detailStatus {
	overflow: visible;
	position: absolute;
	top: -5px;
	left: 135px;
	width: 120px;
	height: 71px;
	padding: 6px 20px;
	font-size: 12px;
	line-height: 20px;
	color: #666;
	background: url(/assets/images/common/elements.png) -800px -360px no-repeat;
	z-index: 9;
}

.detailStatus .active {
	color: #f60;
}

.infoArea .orderId {
	float: left;
	width: 200px;
	*width: 190px;
}

.infoArea .orderTime {
	float: left;
	*z-index: -1;
}

.infoArea .orderId,.infoArea .orderTime {
	padding: 15px 0 7px 0;
}

.infoArea .detail {
	margin: 10px auto 20px auto;
	width: 360px;
}

.infoArea .detail td {
	padding: 3px 0;
	font-size: 14px;
}

.infoArea .detail .including td {
	padding: 0;
	font-size: 12px;
	color: #999;
}

.infoArea .infoBlock {
	float: left;
	width: 185px;
	height: 26px;
	line-height: 26px;
}

.infoArea .remark,.infoArea .address {
	padding: 5px 0;
}

.infoArea .price {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}

/*RATE AREA*/
.rateArea {
	float: right;
	width: 330px;
	padding: 5px 15px;
	*z-index: -1;
}

.rateArea .restTel {
	float: left;
	font-size: 14px;
	margin-bottom: 7px;
}

.restTel em{
	font-size: 14px;
}

.rateArea .rateBlock {
	height: 30px;
	line-height: 30px;
}

.rateArea .star {
	position: absolute;
	left: 70px;
	top: 3px;
	width: 105px;
	height: 20px;
	background: url(/assets/images/common/elements.png);
	_background: url(/assets/images/common/ie6_bigstar.gif);
}

.rateArea .star div {
	float: left;
	width: 21px;
	height: 20px;
}

.rateArea .star_0 {
	background-position: -696px 0;
	_background-position: 0 0;
}

.rateArea .star_1 {
	background-position: -696px -20px;
	_background-position: 0 -20px;
}

.rateArea .star_2 {
	background-position: -696px -40px;
	_background-position: 0 -40px;
}

.rateArea .star_3 {
	background-position: -696px -60px;
	_background-position: 0 -60px;
}

.rateArea .star_4 {
	background-position: -696px -80px;
	_background-position: 0 -80px;
}

.rateArea .star_5 {
	background-position: -696px -100px;
	_background-position: 0 -100px;
}

.rateArea .dytext {
	position: absolute;
	left: 190px;
	top: -2px;
	font-size: 14px;
}

.rateArea .tips {
	position: absolute;
	left: 190px;
	top: -1px;
}

.rateArea .bar {
	overflow: visible;
	position: absolute;
	left: 70px;
	top: 11px;
	width: 105px;
	height: 5px;
	background: url(/assets/images/common/elements.png) -430px -238px;
}

.rateArea .bar .traveler {
	position: absolute;
	left: 0;
	top: -8px;
	width: 10px;
	height: 21px;
	background: url(/assets/images/common/elements.png) -430px -244px;
}

.rateArea .comment {
	margin: 10px 0 0 0;
	padding: 10px;
	width: 310px;
	height: 45px;
	resize: vertical;
	border: #CCC 1px solid;
	border-radius: 5px;
}

.rateArea .commented {
	margin: 5px 0;
}

.rateArea .commented em {
	display: block;
	margin-top: 10px;
	padding: 0 10px;
}

.rateArea .submit {
	float: right;
	margin: 5px 0 6px 0;
	_margin-top: 5px 0 3px 0;
}

.rateArea .comment_quick {
	margin: 8px -2px 0;
	height: 52px;
	line-height: 24px;
}

.rateArea .comment_quick a {
	float: left;
	margin: 0 2px;
	padding: 0 8px;
	color: #000;
	background: #FFF;
	border: #CCC 1px solid;
	border-radius: 5px;
	text-decoration: none;
}

/*HISTORY PART*/
.orderArea li {
	zoom: 1;
}

.orderArea .listItem {
	float: left;
	height: 30px;
	line-height: 30px;
	text-align: center;
}

.orderArea .uncomment {
	background-color: #f90;
}

.orderArea .li_0 {
	width: 2px;
}

.orderArea .li_1 {
	margin-left: 18px;
	text-align: left;
	width: 130px;
	color: #F90;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.orderArea .li_2 {
	width: 150px;
	margin-left: 10px;
	text-align: left;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.orderArea .li_3 {
	width: 110px;
	text-align: left;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.orderArea .li_4 {
	width: 140px;
	color: #999;
}

.orderArea .li_5 {
	width: 90px;
}

.orderArea .li_6 {
	width: 98px;
	color: #F90;
}

.orderArea .th {
	margin-top: -5px;
	font-weight: bold;
}

.orderArea .th div {
	color: #000 !important;
}

.detailArea {
	display: none;
	margin: 0 -3px 0 -4px;
	padding: 0 3px 0 4px;
	background: #F7F7F7;
	border-top: #DDD 2px solid;
	border-bottom: #EEE 1px solid;
	zoom: 1;
}

.detailArea .fold {
	position: absolute;
	right: 10px;
	bottom: 5px;
	padding-right: 18px;
	height: 20px;
	line-height: 20px;
	color: #999;
	cursor: pointer;
}

.detailArea .fold .icon {
	position: absolute;
	right: 0;
	top: 4px;
	width: 12px;
	height: 12px;
	background: url(/assets/images/common/elements.png) no-repeat -546px -238px;
}

.infoArea .detail {
	margin-top: 0;
	width: 370px;
}

.infoArea .infoBlock2 {
	line-height: 26px;
}

.rateArea .comment_s {
	height: 20px;
}

.rateArea .submit_l {
	float: none;
}

/*PAGER*/
.pager {
	text-align: right;
}

.pager a,.pager b,.pager span,.pager em {
	padding: 0 3px;
}

.pager span {
	color: #999;
}

.pager em {
	color: #F90;
}

.more {
	margin: 10px 0;
	height: 35px;
	line-height: 35px;
	font-size: 14px;
	text-align: center;
	color: #FFF;
	background: #F90;
	border-radius: 5px;
	cursor: pointer;
}