.more {
	margin: 10px 0;
	height: 35px;
	line-height: 35px;
	font-size: 14px;
	text-align: center;
	color: #FFF;
	background: #F90;
	border-radius: 5px;
	cursor: pointer;
}

.reply_my{
	margin-left: 43px; 
	margin-top: 10px;
	margin-bottom:10px
}
.reply_my .reply_my_name{
	float: left; 
	width: 150px
}

.reply_other{
	margin-left: 43px; 
	margin-top: 10px; 
	margin-bottom: 10px
}

.reply_other .reply_name {
	float: left; 
	width: 150px
}
.reply_other .reply_content {
	
}
.reply_other .reply_content a{
	float: right;
	margin-right: 35px
}
