/*BGIMG*/
body{
}

#bg {
	background:url(/assets/images/common/error404.jpg) center 0 no-repeat;
	overflow:hidden;
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
}
#tips{
	margin:420px auto;
	width:900px;
	text-align:center;
}

#tips .t1{
	float:right;
	font-family:"微软雅黑","黑体";
	font-size:20px;
	text-decoration: none;
	font-weight:bold;
	margin-right:130px;
}

#tips a:link {color: #000}
#tips a:visited {color: #000}
#tips a:hover {color: #fff}

/*CONTAINER*/
#container {
	position:absolute;
	margin:180px 0 0 375px;
	width:750px;
	height:400px;
}
#container .t1 {
	padding:25px 0;
	line-height:30px;
	text-align:center;
	font-family:"微软雅黑","黑体";
	font-size:20px;
}
