.boxy-wrapper {
	position: absolute;
}

.boxy-wrapper.fixed {
	position: fixed;
}

/* Modal */
.boxy-modal-blackout {
	position: absolute;
	background-color: #000000;
	left: 0;
	top: 0;
}

/* Border */
.boxy-wrapper {
	empty-cells: show;
}

.boxy-wrapper .boxy-top-left,.boxy-wrapper .boxy-top-right,.boxy-wrapper .boxy-bottom-right,.boxy-wrapper .boxy-bottom-left
	{
	width: 7px;
	height: 7px;
	padding: 0
}

:root .boxy-wrapper .boxy-top-left {
	background: url('http://demo.cookwaimai.com/assets/images/common/boxy/boxy-nw_.png');
}

:root .boxy-wrapper .boxy-top-right {
	background: url('http://demo.cookwaimai.com/assets/images/common/boxy/boxy-ne_.png');
}

:root .boxy-wrapper .boxy-bottom-right {
	background: url('http://demo.cookwaimai.com/assets/images/common/boxy/boxy-se_.png');
}

:root .boxy-wrapper .boxy-bottom-left {
	background: url('http://demo.cookwaimai.com/assets/images/common/boxy/boxy-sw_.png');
}

/* IE6-8 hacks for the border. IE7+8 should support this natively but fails in conjuction with modal blackout bg. */
	/* NB: these must be absolute paths or URLs to your images */
	.boxy-wrapper .boxy-top-left {
		#filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://demo.cookwaimai.com/assets/images/common/boxy/boxy-nw_.png');
		-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://demo.cookwaimai.com/assets/images/common/boxy/boxy-nw_.png')";
	}
	.boxy-wrapper .boxy-top-right {
		#filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://demo.cookwaimai.com/assets/images/common/boxy/boxy-ne_.png');
		-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://demo.cookwaimai.com/assets/images/common/boxy/boxy-ne_.png')";
	}
	.boxy-wrapper .boxy-bottom-right {
		#filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://demo.cookwaimai.com/assets/images/common/boxy/boxy-se_.png');
		-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://demo.cookwaimai.com/assets/images/common/boxy/boxy-se_.png')";
	}
	.boxy-wrapper .boxy-bottom-left {
		#filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://demo.cookwaimai.com/assets/images/common/boxy/boxy-sw_.png');
		-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://demo.cookwaimai.com/assets/images/common/boxy/boxy-sw_.png')";
	}

.boxy-wrapper .boxy-top,.boxy-wrapper .boxy-bottom {
	height: 7px;
	background-color: #cccccc;
	opacity: 0.7;
	filter: alpha(opacity = 70);
	padding: 0
}

.boxy-wrapper .boxy-left,.boxy-wrapper .boxy-right {
	width: 7px;
	background-color: #cccccc;
	opacity: 0.7;
	filter: alpha(opacity = 70);
	padding: 0
}

/* Title bar */
.boxy-wrapper .title-bar {
	background-color: #f2f2f2;
	padding: 6px;
	position: relative;
	border-bottom: 1px solid #dedede
}

.boxy-wrapper .title-bar.dragging {
	cursor: move;
}

.boxy-wrapper .title-bar h2 {
	font-size: 14px;
	color: black;
	line-height: 1;
	margin: 0;
	padding: 0;
	font-weight: normal;
}

.boxy-wrapper .title-bar .close {
	color: black;
	position: absolute;
	top: 6px;
	right: 6px;
	font-size: 90%;
	font-size: 12px;
	line-height: 1;
	*padding: 2px
}

/* Content Region */
.boxy-inner {
	overflow: hidden;
	background-color: #fff;
	padding: 0
}

.boxy-content {
	padding: 1em;
	font-size: 1.3em;
}

/* Question Boxes */
.boxy-wrapper .question {
	min-width: 350px;
	min-height: 80px;
}

.boxy-wrapper .answers {
	text-align: right;
}

.boxy-wrapper input[type=button] {
	width: 75px;
	height: 24px;
	color: #fff;
	font-weight: bold;
	background: url('') no-repeat;
	background-color: #ff9900;
	text-align: center;
	border: none;
	cursor: pointer
}

.boxy-image{
	margin:-15px;
}