/*CONTENT*/
.partl {
	width: 822px;
	overflow: hidden;
	margin: 0 auto;
}

.partr {
	overflow: visible;
	float: right;
	width: 231px;
}

/*ADDRESS LIST*/
.addressList {
	margin: 7px 0 10px 15px;
}

.addressList .default {
	width: 610px;
}

.addressList .item {
	cursor: default;
}

/*LOGIN TIPS*/
.login_tips {
	margin-bottom: 20px;
}

.login_tips .body {
	padding: 0 20px;
	height: 26px;
	line-height: 26px;
	font-size: 14px;
}

.login_tips a {
	font-size: 16px;
}

/*CONFIRM*/
.confirm {
	padding-left: 25px;
}

.confirm .title {
	padding-left: 10px;
	height: 18px;
	line-height: 18px;
	margin-bottom: 14px;
}

.confirm .title .t {
	margin-right: 10px;
	font-size: 16px;
	font-weight: bold;
}

.confirm .title_unlogin {
	text-align: center;
	font-size: 14px;
	margin-bottom: 8px;
}

.confirm .predetermin {
	font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica,STHeiti, sans-serif;
	size: 100px;
	color: green;
	text-align: center;
	font-size:17px;
}

.confirm .predetermin:HOVER {
	text-decoration: underline;
	cursor: pointer;
	font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica,STHeiti, sans-serif;
	color: red;
}

.confirm .predetermin i {
	color: #FF0000;
	font-size: 15px;
	margin-left: 3px;
	position: relative;
	top: -5px;
}

.detailArea {
	width: 822px;
}
.detailArea td {
	padding: 10px 0;
	height: 39px;
	line-height: 39px;
	font-size: 14px;
}

.detailArea .text {
	padding: 0 15px;
	text-align: right;
	width: 60px;
}

.detailArea .input .l,.detailArea .input .r {
	float: left;
	width: 5px;
	height: 39px;
	background: url(/assets/images/common/elements.png);
}

.detailArea .input .l {
	background-position: 0 -332px;
	
}

.detailArea .input .r {
	background-position: -6px -332px;
}

.detailArea .input .m {
	float: left;
	height: 39px;
	width: 500px;
	overflow: visible;
	background: url(/assets/images/common/repeater.gif) repeat-x 0 -315px;
}

.detailArea .input .m .address{
	float: right;
	width: 50%;
	font-size : 15px
}

#preTime div {
	color: green;
}

#preTime a {
	float: right;
}

.detailArea .selector {
	position: relative;
	z-index: 999;
	border-top-style : solid;
	border:2px;
	border-color: #e6e6e6;
	border-style: solid;
	background-color: #ebebeb;
	font-size: 17px;
	text-align: center;
	display: none;
}

.detailArea .selector a{
	display: block;
	color : #FF3300;
	background-color: #ebebeb;
	text-align: center;
}
.detailArea .selector a:link {
	display: block;
	color : #FF3300;
	background-color: #ebebeb;
	text-align: center;
}

.detailArea .selector a:hover {
	display: block;
	color : #ffffff;
	background-color: #ff9900
}

.detailArea .m .floor {
	float: left;
	height: 20px;
	margin-left: 8px;
	margin-top: 10px;
	width: 120px;
}

.detailArea .m .name {
	width:40%;
	float: left;
	padding: 0 10px;
}

.detailArea .input input {
	margin-top: 6px;
	padding: 0 10px;
	width: 470px;
	height: 29px;
	line-height: 29px;
	font-size: 16px;
	letter-spacing: 1px;
}

.detailArea .tips {
	float: left;
	margin-left: 5px;
	color: #F00;
}

.detailArea .handy {
	top: -20px;
	padding: 0 4px;
}

.detailArea .handy div {
	float: left;
	margin: 0 4px;
	width: 100px;
	height: 26px;
	line-height: 26px;
	font-size: 12px;
	text-align: center;
	background: url(/assets/images/common/elements.png) -12px -332px;
	cursor: pointer;
}

.detailArea .confirmOrder {
	margin: 10px auto 0 auto;
	width: 188px;
	height: 36px;
	background: url(/assets/images/common/elements.png) -114px -332px;
	cursor: pointer;
}

.detailArea .confirming {
	display: none;
	font-size: 16px;
	color: #F90;
	text-align: center;
}

/*CHART*/
.chart .body {
	padding: 0 15px;
}

.chart .icon {
	float: left;
	width: 30px;
	height: 30px;
	background: url(/assets/images/common/elements.png) -282px -238px;
}

.chart .title {
	height: 30px;
	line-height: 30px;
	font-size: 18px;
	font-weight: bold;
	font-family: "微软雅黑", "黑体";
	color: #F90;
}

.chart .name {
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	font-weight: bold;
}

.chart table {
	margin: 0 -5px;
	width: 211px;
}

.chart table td {
	padding: 4px 0;
	line-height: 16px;
}

.chart table .delivery_cost td {
	padding-top: 15px;
}

.chart table .amount {
	font-weight: bold;
	color: #999;
}

.chart table .amount input {
	margin: 0 3px;
	width: 18px;
	height: 12px;
	line-height: 12px;
	font-size: 10px;
	text-align: center;
	border: #999 1px solid;
	vertical-align: top;
}

.chart table .count {
	padding-left: 5px;
}

.chart table .del {
	float: right;
	width: 13px;
	height: 13px;
	background: url(/assets/images/common/elements.png) -320px -238px;
	cursor: pointer;
}

.chart .total {
	margin-top: 8px;
	padding: 10px 0;
	line-height: 30px;
	font-size: 14px;
	border-top: #CCC 1px dashed;
}

.chart .total .line {
	height: 30px;
}

.chart .total .text {
	float: left;
}

.chart .total .count,.chart .total .num {
	float: right;
}

.chart .total .num {
	width: 60px;
	font-weight: bold;
	color: #F90;
	text-align: right;
}

.chart .back {
	padding-bottom: 12px;
	height: 27px;
	line-height: 27px;
	font-size: 14px;
	text-align: center;
}

/**
用户修改送餐时间
**/
#setDeliTime .c {
	BORDER-BOTTOM: #fff 3px solid;
	BORDER-LEFT: #fff 3px solid;
	PADDING-BOTTOM: 10px;
	PADDING-LEFT: 10px;
	WIDTH: 434px;
	PADDING-RIGHT: 10px;
	BACKGROUND: #eee;
	MARGIN-LEFT: -230px;
	BORDER-TOP: #fff 3px solid;
	BORDER-RIGHT: #fff 3px solid;
	PADDING-TOP: 5px;
	border-radius: 5px;
	_border-color: #555
}

#setDeliTime .t {
	text-align: center;
	LINE-HEIGHT: 30px;
	FONT-FAMILY: "微软雅黑", "黑体";
	HEIGHT: 30px;
	FONT-SIZE: 18px;
	FONT-WEIGHT: bold
}

#setDeliTime .type {
	MARGIN-TOP: 5px;
	HEIGHT: 30px
}

#setDeliTime .timeError {
	margin-top: 20px;
	color: red;
	display: none;
}

#setDeliTime .testing {
	margin-top: 30px;
	size: 15px;
	display: none;
}

#setDeliTime .testing img {
	width: 16px;
	height: 16px;
}

#setDeliTime .type LI {
	BORDER-BOTTOM: #eee 1px solid;
	TEXT-ALIGN: center;
	BORDER-LEFT: #eee 1px solid;
	LINE-HEIGHT: 24px;
	PADDING-LEFT: 16px;
	WIDTH: 50px;
	FLOAT: left;
	HEIGHT: 24px;
	COLOR: #999;
	BORDER-TOP: #eee 1px solid;
	CURSOR: pointer;
	FONT-WEIGHT: bold;
	MARGIN-RIGHT: 10px;
	BORDER-RIGHT: #eee 1px solid
}

#setDeliTime .type LI.active {
	BORDER-BOTTOM-COLOR: #ccc;
	BACKGROUND-COLOR: #ff9900;
	BORDER-TOP-COLOR: #ccc;
	COLOR: white;
	BORDER-RIGHT-COLOR: #ccc;
	BORDER-LEFT-COLOR: #ccc;
	border-radius: 3px
}

#setDeliTime .type LI:hover {
	TEXT-DECORATION: underline
}

#setDeliTime .type .t1 {
	BACKGROUND-POSITION: -30px 0px
}

#setDeliTime .type .t2 {
	BACKGROUND-POSITION: -30px -24px
}

#setDeliTime .type .t3 {
	BACKGROUND-POSITION: -30px -48px
}

#setDeliTime .type .t4 {
	BACKGROUND-POSITION: -30px -72px
}

#setDeliTime .type .t5 {
	BACKGROUND-POSITION: -30px -96px
}

/*type.t*/
#setDeliTime .content {
	text-align: center;
	BORDER-BOTTOM: #ccc 1px solid;
	BORDER-LEFT: #ccc 1px solid;
	PADDING-BOTTOM: 5px;
	MARGIN-TOP: 5px;
	PADDING-LEFT: 5px;
	WIDTH: 422px;
	PADDING-RIGHT: 5px;
	HEIGHT: 88px;
	BORDER-TOP: #ccc 1px solid;
	BORDER-RIGHT: #ccc 1px solid;
	PADDING-TOP: 25px;
	border-radius: 3px;
	resize: none
}

#setDeliTime .rest_name INPUT {
	BORDER-BOTTOM: #ccc 1px solid;
	BORDER-LEFT: #ccc 1px solid;
	PADDING-BOTTOM: 5px;
	MARGIN-TOP: 5px;
	PADDING-LEFT: 5px;
	WIDTH: 422px;
	PADDING-RIGHT: 5px;
	HEIGHT: 88px;
	BORDER-TOP: #ccc 1px solid;
	BORDER-RIGHT: #ccc 1px solid;
	PADDING-TOP: 5px;
	border-radius: 3px;
	resize: none
} /*reset_name纠错填写标题*/
#setDeliTime .s.content {
	HEIGHT: 55px
}

#setDeliTime .report_type {
	MARGIN-TOP: 8px;
	DISPLAY: none;
	HEIGHT: 25px
}

#setDeliTime .rest_name {
	DISPLAY: none
}

#setDeliTime .rest_name INPUT {
	LINE-HEIGHT: 16px;
	HEIGHT: 16px
}

#setDeliTime .input_1 {
	BORDER-BOTTOM: #ccc 1px solid;
	BORDER-LEFT: #ccc 1px solid;
	PADDING-BOTTOM: 5px;
	LINE-HEIGHT: 16px;
	MARGIN-TOP: 5px;
	PADDING-LEFT: 5px;
	PADDING-RIGHT: 5px;
	HEIGHT: 16px;
	BORDER-TOP: #ccc 1px solid;
	BORDER-RIGHT: #ccc 1px solid;
	PADDING-TOP: 5px;
	border-radius: 3px
}

#setDeliTime .input_2 {
	BORDER-BOTTOM: #ccc 1px solid;
	BORDER-LEFT: #ccc 1px solid;
	PADDING-BOTTOM: 5px;
	LINE-HEIGHT: 16px;
	MARGIN-TOP: 5px;
	PADDING-LEFT: 5px;
	PADDING-RIGHT: 5px;
	HEIGHT: 16px;
	BORDER-TOP: #ccc 1px solid;
	BORDER-RIGHT: #ccc 1px solid;
	PADDING-TOP: 5px;
	border-radius: 3px
}

#setDeliTime .input_1 {
	WIDTH: 248px
}

#setDeliTime .input_2 {
	WIDTH: 200px
}

#setDeliTime .submit {
	MARGIN-TOP: 10px;
	FLOAT: right
}

#setDeliTime .tel {
	POSITION: absolute;
	BOTTOM: 10px;
	LEFT: 10px
}

/**
*提示
*/
TABLE .gray {
	color: #999999;
}

TABLE .checker_code{
	display: none;
}
TABLE .checker_code .code{
	float : left;
	margin-left :8px;
	width: 50px;
	height: 25px;
	color: #ffffff;
	font-weight: bold;
	background-color: #ff9900;
	text-align: center;
	border: none;
	cursor: pointer;
}
TABLE .checker_code .icon {
	float:left;
}

TABLE .checker_ok {
	color:green;
	float:left;
	width:150px;
	display: none;
}
TABLE .checker_ok .icon {
	float:left;
	MARGIN: 11px 5px 5px 5px;
	BACKGROUND: url(/assets/images/common/elements.png);
	BACKGROUND-POSITION: -334px -238px;
	width:16px;
	height:16px
}

TABLE .checker_wrong {
	color:red;
	float:left;
	width:150px;
	display: none;
}

TABLE .checker_wrong span{
	MARGIN: 11px 10px 0px 0px;
}

TABLE .checker_wrong .icon {
	float:left;
	MARGIN: 11px 5px 5px 5px;
	BACKGROUND: url(/assets/images/common/elements.png);
	BACKGROUND-POSITION: -366px -238px;
	width:16px;
	height:16px
}