.successtips{
	text-align:center;
	line-height:24px;
	font-size:14px;
}
.successtips em{
	color:#F90;
	font-size:18px;
	font-weight:bold;
}


/*CONTENT*/
.partm {
	margin:0 auto;
	padding:0 10px;
	width:630px;
}

/*MAIN*/
.partm .title {
	margin:0 auto 18px auto;
	width:680px;
	height:46px;
	line-height:46px;
	font-size:24px;
	font-family:"微软雅黑", "黑体";
	color:#6C6;
}
.partm .title .icon {
	float:left;
	margin-right:5px;
	width:46px;
	height:46px;
	background:url(/assets/images/common/elements.png) -248px -100px;
}

.partm .text {
	line-height:20px;
}
.partm .text em {
	color:#F90;
}

.partm .hiddenDiv {
	height: 150px;
}



.order {
	margin:18px auto;
}
.order table {
	margin:5px auto;
	width:490px;
}
.order table td {
	padding:6px;
	font-size:14px;
}
.order table .price {
	font-size:18px;
	font-family:Arial, Helvetica, sans-serif;
	color:#F90;
}
.order table .detail {
	margin:10px auto 5px auto;
	width:410px;
}
.order table .detail td {
	padding:3px;
}

.action {
	margin:10px auto;
	width:545px;
}
.action .back {
	float:left;
	height:37px;
	line-height:37px;
	font-size:14px;
}
.action .icon {
	float:left;
	width:37px;
	height:37px;
	background:url(/assets/images/common/elements.png) -294px -100px;
}
.action .check_status {
	float:right;
}

