.partl {
	WIDTH: 640px;
	FLOAT: left;
	MARGIN-LEFT: 30px;
	MARGIN-RIGHT: 12px;
	_display: inline
}

.partr {
	WIDTH: 253px;
	FLOAT: right;
	OVERFLOW: visible;
	MARGIN-RIGHT: 30px
}

.signup .title {
	FONT-FAMILY: "微软雅黑", "黑体";
	HEIGHT: 30px;
	FONT-WEIGHT: bold
}

.signup .title .l {
	FONT-SIZE: 24px
}

.signup .title .r {
	FONT-SIZE: 14px
}

.signup .tips {
	MARGIN: 20px 0px 20px 25px;
	FONT-SIZE: 14px
}

.signup .tips EM {
	COLOR: #f90
}

TABLE TD {
	PADDING-BOTTOM: 8px;
	LINE-HEIGHT: 39px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	HEIGHT: 39px;
	FONT-SIZE: 14px;
	PADDING-TOP: 8px
}

TABLE .text {
	TEXT-ALIGN: right;
	PADDING-BOTTOM: 0px;
	PADDING-LEFT: 15px;
	PADDING-RIGHT: 15px;
	PADDING-TOP: 0px
}

TABLE .input .l {
	WIDTH: 5px;
	BACKGROUND: url(/assets/images/common/elements.png);
	FLOAT: left;
	HEIGHT: 39px
}

TABLE .input .r {
	WIDTH: 5px;
	BACKGROUND: url(/assets/images/common/elements.png);
	FLOAT: left;
	HEIGHT: 39px
}

TABLE .input .l {
	BACKGROUND-POSITION: 0px -332px
}

TABLE .input .r {
	BACKGROUND-POSITION: -6px -332px
}

TABLE .input .m {
	BACKGROUND: url(/assets/images/common/repeater.gif) repeat-x 0px -315px;
	FLOAT: left;
	HEIGHT: 39px
}

TABLE .input INPUT {
	PADDING-BOTTOM: 0px;
	LINE-HEIGHT: 29px;
	MARGIN-TOP: 6px;
	PADDING-LEFT: 10px;
	WIDTH: 290px;
	PADDING-RIGHT: 10px;
	HEIGHT: 29px;
	FONT-SIZE: 14px;
	PADDING-TOP: 0px
}

TABLE .captha_img {
	FONT-SIZE: 12px
}

TABLE .captha_img IMG {
	MARGIN: 0px 15px -15px 20px;
	VERTICAL-ALIGN: baseline
}

TABLE .captcha {
	WIDTH: 120px !important
}

TABLE .agree {
	PADDING-LEFT: 50px;
	FONT-SIZE: 12px
}

TABLE .agree DIV {
	FLOAT: left;
	CURSOR: pointer
}

TABLE .agree .icon {
	MARGIN: 7px 15px 0px 0px;
	WIDTH: 22px;
	BACKGROUND: url(/assets/images/common/elements.png) -382px -238px;
	FLOAT: left;
	HEIGHT: 23px;
	_background: url(/assets/images/common/ie6_checkbox.gif) 0 0
}

TABLE .agree .checked .icon {
	BACKGROUND-POSITION: -404px -238px;
	_background-position: 0 -23px
}

TABLE .submit {
	MARGIN: 0px auto;
	LEFT: -75px
}

TABLE .checker_ok {
	WIDTH: 200px;
	FLOAT: left;
	MARGIN-LEFT: 15px;
	FONT-SIZE: 12px
}

TABLE .checker_notice {
	WIDTH: 200px;
	FLOAT: left;
	MARGIN-LEFT: 15px;
	FONT-SIZE: 12px
}

TABLE .checker_wrong {
	WIDTH: 200px;
	FLOAT: left;
	MARGIN-LEFT: 15px;
	FONT-SIZE: 12px
}

TABLE .checker_ok .icon {
	MARGIN: 11px 10px 0px 0px;
	WIDTH: 16px;
	BACKGROUND: url(/assets/images/common/elements.png);
	FLOAT: left;
	HEIGHT: 16px
}

TABLE .checker_notice .icon {
	MARGIN: 11px 10px 0px 0px;
	WIDTH: 16px;
	BACKGROUND: url(/assets/images/common/elements.png);
	FLOAT: left;
	HEIGHT: 16px
}

TABLE .checker_wrong .icon {
	MARGIN: 11px 10px 0px 0px;
	WIDTH: 16px;
	BACKGROUND: url(/assets/images/common/elements.png);
	FLOAT: left;
	HEIGHT: 16px
}

TABLE .checker_ok {
	COLOR: #4c4
}

TABLE .checker_ok .icon {
	BACKGROUND-POSITION: -334px -238px
}

TABLE .checker_notice {
	COLOR: #fc0
}

TABLE .checker_notice .icon {
	BACKGROUND-POSITION: -350px -238px
}

TABLE .checker_wrong {
	COLOR: #f00
}

TABLE .checker_wrong .icon {
	BACKGROUND-POSITION: -366px -238px
}

.sidepanel .body {
	TEXT-ALIGN: center;
	HEIGHT: 290px
}

.sidepanel .t1 {
	LINE-HEIGHT: 22px;
	MARGIN: 10px 0px 26px;
	FONT-FAMILY: "微软雅黑", "黑体";
	HEIGHT: 22px;
	FONT-SIZE: 18px;
	FONT-WEIGHT: bold
}

.sidepanel .signinLink {
	MARGIN: 0px auto 60px
}

.sidepanel .t2 {
	LINE-HEIGHT: 18px;
	MARGIN-BOTTOM: 20px;
	HEIGHT: 18px;
	FONT-SIZE: 14px
}

.sidepanel .connect {
	MARGIN: 20px auto;
	WIDTH: 134px;
	DISPLAY: block;
	BACKGROUND: url(/assets/images/common/elements.png);
	HEIGHT: 23px
}

.sidepanel .c_weibo {
	BACKGROUND-POSITION: -800px -120px
}

.sidepanel .c_renren {
	BACKGROUND-POSITION: -800px -144px
}